#project {
    width: 100%;
    padding: 1em 2em;
    opacity: 0;

    & > div {

        & > div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            margin-top: 1em;
    
            @media (max-width: 1129px) {
                grid-template-columns: 1fr;
            }
        }

        @media (min-width: 1453px ) {
            max-width: 1453px;
        }
    }
    
    @media (max-width: 576px) {
        padding: 0 1em;
    }
}