#project {
    width: 100%;
    padding: 1em 2em;
    opacity: 0;

    & > div {

        .dropDownLanguage {
            display: flex;
            justify-content: flex-end;
            margin: 1em 0;

            .whatIKnow {
                font-size: 16px;
                text-transform: none;
                background-color: var(--dropdown-background-color);
                color: var(--text-color);
                padding: .5em 1em;
                border-radius: .4em;
                transition: .2s;
                cursor: pointer;
                border: none;
                border: 1px solid var(--background-color);
                z-index: 10;
                transition: .3s;

                // &:focus {
                //     background-color: var(--dropdown-hover-background-color);
                //     border: 1px solid var(--nav-list-background-color);
                // }
            }
        }

        .projects {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
    
            @media (max-width: 1129px) {
                grid-template-columns: 1fr;
            }
        }

        @media (min-width: 1453px ) {
            max-width: 1453px;
        }
    }
    
    @media (max-width: 576px) {
        padding: 0 1em;
    }
}