.dark {
    --background-color: #101014;
    --background-color-2: #23232b;
    --text-color: white;
    --hover-background-color: black;
    --border-color: rgba(255, 255, 255, 0.368);
    --dropdown-background-color: #23232b;
    --nav-list-background-color: #00000063;

    .project-1 {

        &:hover {
            background-color: #23232b;
        }
    }

    .eachProject {

        .bannerImg {

            div {
                background: linear-gradient(transparent, #101014);
            }
        }
    }

    .story {

        .dropdown {
            background-color: #23232b;

            img {
                filter: grayscale(50%);
            }
        }
    }

    .contact {

        form {

            input, textarea, button {
                background-color: #23232b;
            }
        }
    }
}