.project-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    transition: .3s;

    &:hover {
        background-color: #ececec;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: .8em;

        h2 {
            font-size: 18px;
        }
        & > p {
            font-size: 14px;
        }
        
    }

    div:nth-child(2) {
        position: relative;

        .technology {
            background-color: #CF9500;
            color: white;
            padding: .2em .5em;
            border-radius: .4em;
            position: absolute;
            top: .5em;
            right: .5em;
            font-size: 14px;
            opacity: 0;
            transform: translateY(-10px);
            transition: .3s;
        }

        img {
            width: 100%;
            border-radius: 1em;
        }
    }
    
    &:hover {
        div:nth-child(2) {
            .technology {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }


    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}