div {

    .bg1 {
        width: 400px;
        height: 400px;
        background-color: #167ec945;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        filter: blur(100px);
    }

    @media (max-width: 768px) {
        .hide {
            display: none;
        }
    }
}