div {

    .bg1 {
        width: 400px;
        height: 400px;
        background-color: #167ec945;
        border-radius: 50%;
        position: absolute;
        bottom: -100px;
        right: 50%;
        z-index: -1;
        filter: blur(100px);
    }
}