nav {
    width: 100%;
    height: 91px;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);   
    overflow: hidden;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        @media (min-width: 1453px ) {
            max-width: 1453px;
        }

        .logoImg {
            height: 100%;

            img {
                height: 100%;
                animation: imgLogo 1s infinite alternate;
    
                @keyframes imgLogo {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: .8;
                    }
                }
            }
        }
    
        & > div {

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                height: 25.2px;
                gap: 3em;
        
                li {
    
                    .nav-link {
                        font-size: 16px;
                        text-transform: capitalize;
                        transition: .3s;
                        font-weight: 600;
        
                        .nav-svg-link {
                            transition: .3s;
                        }
        
                        @media (min-width: 768px) {
                            .nav-svg-link {
                                color: var(--secondary-color);
                                opacity: 0;
                                transform: translateY(-10px);
                            }
                            &:hover {
                                color: var(--secondary-color);
                            }
            
                            &::after {
                                content: '';
                                width: 0%;
                                height: 2px;
                                background-color: var(--secondary-color);
                                display: block;
                                margin: auto;
                                transition: .3s;
                            }
                            &:hover::after {
                                width: 100%;
                            }
            
                            &:hover .nav-svg-link {
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                    }
                }
    
                @media (max-width: 768px) {
                    gap: 0;
                    width: 90%;
                    height: auto;
                    background-color: var(--background-color);
                    backdrop-filter: blur(10px);
                    flex-direction: column;
                    position: absolute;
                    top: 91px;
                    padding: 2em 1em;
                    border-radius: 1em;
                    animation: navList .3s;
    
                    @keyframes navList {
                        from {
                            scale: .7;
                            opacity: 0;
                        }
                        to {
                            scale: 1;
                            opacity: 1;
                        }
                    }
    
                    li {
                        width: 100%;
                        display: flex;
    
                        .nav-link {
                            width: 100%;
                            padding: 1em;
                            border-radius: .5em;
                            display: flex;
                            align-items: center;
                            gap: 2em;
    
                            &:hover {
                                background-color: var(--hover-background-color);
                            }
                        }
                    }
    
                    small {
                        width: 100%;
                        position: absolute;
                        bottom: 1em;
                        left: 0;
                        text-align: center;
                        color: #333;
                    }
                }
    
                @media (max-width: 765px) {
                    transition: .3s;
                }
                @media (max-width: 576px) {
                    width: 95%;
                }
            }

            @media (max-width: 768px) {
                display: none;
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                background-color: var(--nav-list-background-color);
                backdrop-filter: blur(10px);
            }
        }
        & > div[data-toggle='true'] {
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: 768px) {
        .ham-menu, .x-menu, small {
            display: none;
        }
    }
    @media (max-width: 576px) {
        padding: 1em 1em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.078);
    }
}