.eachProject {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bannerImg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
        z-index: -1;
        overflow: hidden;

        img {
            width: 100%;
            filter: blur(20px);
            opacity: 0;
            scale: 0;
        }

        div {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, rgb(255, 255, 255));
            z-index: 2;
        }
    }

    & > img {
        width: 90%;
        max-width: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
        opacity: 0;
        transform: translate(-100px, -100px) rotate(-10deg);
    }

    & > h1 {
        opacity: 0;
        transform: translateX(-100px);
    }

    & > p {
        margin: .5em 0 1em;
        text-align: center;
        padding: 0 1em;
        opacity: 0;
        transform: translateX(-100px);
    }

    .websites {
        display: flex;
        gap: 1em;
        
        a {
            display: inline-block;
            background-color: var(--primary-color);
            color: white;
            padding: .5em 1em;
            border-radius: .3em;
            opacity: 0;
            transform: translateX(-100px);
        }
    }
}