.stacks {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;

    p {
        background-color: #1879C7;
        padding: .2em .5em;
        border-radius: .2em;
        color: white;
        font-size: 14px;
        transition: .2s;

        &:hover {
            background-color: #1d81d3;
            transform: translateY(-2px);
        }
    }


    .HTML {
        background-color: var(--html-color);
    }
    .CSS {
        background-color: var(--css-color);
    }
    .JavaScript {
        background-color: var(--javascript-color);
        color: var(--javascript-font-color);
    }
    .NODEJS {
        background-color: var(--nodejs-color);
    }
    .Tailwind {
        background-color: var(--tailwind-color);
    }
    .ExpressJS {
        background-color: var(--expressjs-color);
        color: var(--expressjs-font-color);
    }
}