@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #2840B6;
  --secondary-color: #167EC9;
  --background-color: #fff;
  --background-color-2: #f2f2f2;
  --text-color: black;
  --hover-background-color: #f2f2f2;
  --dropdown-background-color: #f2f2f2;
  --dropdown-hover-background-color: #edecec;
  --nav-list-background-color: #00000021;
  --light-dark-color: #fff;
  --border-color: rgba(0, 0, 0, 0.368);

  --html-color: #E34C26;
  --css-color: #2565AE;
  --javascript-color: #F0DB4F;
  --javascript-font-color: #323330;
  --nodejs-color: #3c873a;
  --tailwind-color: #38bdf8;
  --express-color: #212121;
  --express-font-color: white;
  --ejs-color: #;
  --react-color : #61DBFB;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: .3s;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  
  
  .htmlText {
    color: rgba(0, 0, 0, 0.688);
    font-size: 13px;
  }


  .sectionTitle {
    margin-top: 50px;
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 16px;

    sup {
      color: red;
      font-size: 12px;
    }

    @media (max-width: 576px) {
      sup {
        font-size: 9px;
      }
    }
  }

  @media (max-width: 992px) {
    .sectionTitle {
      font-size: 36px;
    }
  }
  @media (max-width: 576px) {
    .sectionTitle {
      font-size: 32px;
    }
  }
}

.dark {
  background-color: #101014;
}